{% extends 'base.html' %}

{% block extrahead %}
<meta name="google-signin-client_id" content="101775380685-bio2mvpmqu3uh46vkbp03cne2ihqj1p1.apps.googleusercontent.com">
{% endblock extrahead %}

{% block content %}
<div class="min-vh-100 pt-5">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-xl-4 offset-xl-4">
        {% block auth_content %}{% endblock auth_content %}
        </div>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock content %}
