{% extends "account/base.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}SignIn{% endblock title %}

{% block auth_content %}

<h1 class="text-center mb-5">Sign In</h1>

{% if form.non_field_errors %}
<div class="alert alert-danger smaller-text">{{ form.non_field_errors|striptags }}</div>
{% endif %}

<form class="login form form-container p-4" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_login" class="font-weight-bold">Login</label>
        <input class="form-control" id="id_login" type="text" name="login" required>
    </div>
    <div class="form-group">
        <label for="id_password" class="font-weight-bold">Password</label>
        <input class="form-control" id="id_password" type="password" name="password" required>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="primaryAction btn btn-success btn-block" type="submit">Sign In</button>
    <div class="row mt-4">
        <div class='col-md-8 offset-md-2'>
            <a class="btn btn-primary btn-block d-flex align-items-center justify-content-center" href="{% provider_login_url "facebook" %}">
                <img src="{% static 'facebook.png' %}">
                <span>Sign In with Facebook</span>
            </a>
            <a class="btn btn-danger btn-block d-flex align-items-center justify-content-center" href="{% provider_login_url "google" %}">
                <img src="{% static 'google.png' %}">
                <span>Sign In with Google</span>
            </a>
        </div>
    </div>
</form>
<div class="form-container mt-4 p-3 text-center smaller-text">
    New to BrowseMovie? <a href="{{ signup_url }}">Create an account</a>.
</div>

{% endblock %}