{% extends 'account/base.html' %}


{% block auth_content %}
<h1 class="text-center">Password reset</h1>

{% if form.non_field_errors %}
<div class="alert alert-danger smaller-text">{{ form.non_field_errors|striptags }}</div>
{% endif %}

<form class="password_reset form form-container p-4" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    <div class="form-group">
        <label for="id_email" class="font-weight-bold">Email</label>
        <input class="form-control" id="id_email" type="email" name="email" required>
    </div>
    <button class="primaryAction btn btn-warning btn-block" type="submit">Reset my password</button>
</form>
<div class="form-container mt-4 p-3 text-center smaller-text">
    Please contact us if you have any trouble resetting your password.
</div>
{% endblock auth_content %}